body {
    margin: 0 auto;
    background: #dae3ff;
}

/****************
----- TYPO ------
****************/

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 0.9em;
    font-size: 2.8em;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 1.4em;
    line-height: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

p {
    margin-bottom: 10px;
}

.logotext {
    font-family: 'Euphoria Script', cursive;
    font-weight: 900;
    font-size: 3em;
    color: #dae3ff;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 2%;
    line-height: 0.9em;
}

#text-or {
    width: 12%;
    font-size: 1.4em;
    color: #ebebeb;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
    padding: 8px;
}

#searchField::-webkit-input-placeholder {
    color: #6e7176;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em;
}

.btn {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.artistName {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5em;
}

.form-label {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
}

.footer-txt {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #FFFFFF;
}

a:hover{
    text-decoration: none; 
}

.fa-2x {
    margin-right: 10px;
}

/****************
---- SECTIONS ---
****************/

header {
    background-color: #44494f;
}

.header-img {
    height: 45vh;
    width: 100%;
    background-image: url('../images/bg-mixer.png');
    opacity: 0.8;
    background-position: top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: height 0.5s ease-out;
}

.header-img-animate {
    
    height: 28vh;
}

nav {       
    margin: 0 auto;
    height: 65px;
    max-width: 960px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 35px;
}

main {
    margin: 0 auto;
    max-width: 960px;
    background: #FFFFFF;
    padding: 30px;
    min-height: 600px;
}

section {
    margin: 0 0 80px 0;
}

.artistinfo {
    margin: auto;
    text-align: center;
} .img {
    margin-left: auto;
    margin-right: auto;
}

#search-field {
    width: 65%;
    padding-left: 5%;
    padding-right: 5%;
    text-transform: uppercase;
}

#searchField {
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

#submit-new {
    text-align: center;
    width: 20%;
}

#displayAllArtists, #displayAllAlbums, #displayAllPlaylists {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.infosection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

footer {
    background: #44494f;
    height: 150px;
    padding: 30px;
}

.footer-content {
    color: #FFFFFF;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

#albumtracks {
    width: 100%;
}


/****************
-- COMPONENTS --
****************/

.infoCard {
    border: 1px solid black;
    width: calc((100% / 4) - 18px);
    margin: 8px;
    text-align: center;
    min-height: 220px;
}

.border-sm {
    width: 100%;
    height: 9px;
    background: #1f252b;
}

.btn {
    margin-bottom: 15px;
}

.modal-content .btn {
    width: 40%;
}

.img-container {
    width: 100%;
    max-height: 120px;
    overflow: hidden;
    margin-bottom: 10px;
}

.img-container-specific {
    width: 55%;
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 20px;
}

.img-fluid {
    width: 100%;
}

#info {
    width: 40%;
    text-align: left;
}

.spotify {
    margin-top: 20px;
    width: 100%;
}

#spotifyLogo {
    fill: #1db954;
}

.spotifyLogoContainer {
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
}

.spotifyLogoContainer-specific {
    padding: 10px;
    width: 40%;
    padding-top: 10px;
}

.hide {
    //display: none;
    filter: alpha(opacity=0);
    opacity: 0;
    transition: opacity .2s;
}


/****************
- POP-UP WINDOW -
****************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.btnClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btnClose:hover, .btnClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Playlist Song Dropdown */

.playlistSong-container {
    display: flex;
}

.playlistSelectSong-scroll {
    display: flex;
    width: 70%;
}

.playlistSelectSong-Button {
    display: flex;
    width: 25%;
    margin-left: 5px;
}